/* all body background */
body{
    background-color: #f2f2f2;
}

/* notification message display hide css */
#notification_message{
    display: none;
}

/* notification fail div */

#notification_fail{
    background-color:white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
}

.img_bg{
    background-color: #c55339;
}
.saving_input{
    width: 90px;
}
